html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

a {
  text-decoration: none;
  color: inherit;
}

.flex {
	display: flex;
}

.flex-row {
  display: flex;
	flex-direction: row;
}

.flex-column {
  display: flex;
	flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
}

.main {
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
}

.navigation {
  min-width: 25vw;
  height: 100vh;
  background: #42404e;
  border-right: 1px solid #c6c5c9;
}

.headshot {
  width: 100%;
  padding: 10% 0;
}

.headshot img {
  width: 50%;
  border: 1px solid #c6c5c9;
  border-radius: 100%;
  box-shadow: 1px 1px 2px #676671;
}

.nav-links {
  flex-grow: 1;
}

.nav-link {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #ecebed;
  text-decoration: none;
  flex-grow: 1;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px #676671;
}

.nav-link:hover {
  background: #c6c5c9;
  color: #42404e;
  text-shadow: 1px 1px 2px #a09fa6;
}

.social {
  margin: auto;
  width: 50%;
  font-family: arial;
}

.social a:hover {
  opacity: 0.3;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: transparent;
  color: white;
}

.email {
  font-size: 3vh;
}

.photo {
  background-image: url("../images/fleurs.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  max-height: 100vh;
  overflow-y: scroll;
  flex-grow: 1;
}

.section {
  width: 100%;
  min-height: 100vh;
  color: #ecebed;
  text-shadow: 3px 3px 6px #42404e;
  padding: 0 10%;subheader
}

.section:not(#main) {
  background: rgba(255,255,255,0.3);
  padding: 10%;
  justify-content: space-between;
}

.section:not(#main) h3 {
  position: sticky;
  height: auto;
}

h1 {
  font-size: 20vh;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

h2 {
  font-size: 5.5vh;
  font-family: 'Podkova', serif;
  text-align: center;
  text-shadow: 2px 2px 4px #42404e;
}

h3 {
  font-size: 15vh;
  font-family: 'Bebas Neue', cursive;
}

h4 {
  font-family: 'Bebas Neue', cursive;
  font-size: 7vh;
}

h5 {
  font-family: 'Podkova', serif;
  font-size: 3.5vh;
}

p {
  font-family: 'Podkova', serif;
  font-size: 24px;
  text-indent: 5%;
  text-shadow: 2px 2px 2px #42404e;
  color: #ecebed;
}

#about .grey {
  padding: 6% 0;
}

#about p {
  margin: 0 6%;
  color: #ecebed;
  text-shadow: 2px 2px 4px #42404e;
  line-height: 5vh;
}

#portfolio {
  padding: 5%;
}

#portfolio h4.subheader2 {
  width: 100%;
  padding: 5% 0 1% 5%;
  border-bottom: 1px solid #ecebed;
}

.grid {
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 5%;
}

.grid a {
  display: block;
  width: 31%;
  height: 25vh;
  margin-bottom: 2%;
}

.grid-box {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  box-shadow: 3px 3px 6px #42404e;
}

.grid-box-text {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  border-radius: 8px;
  justify-content: space-around;
  padding: 10%;
  color: #8d8c94;
  text-shadow: 2px 2px 2px #42404e;
}

.grid-box-text:hover {
  color: #42404e;
  text-shadow: 2px 2px 2px #27262e;
  background: rgba(255,255,255,0.3);
}

#blackjack {
  background-image: url("../images/websites/blackjack.png");
}

#chloe {
  background-image: url("../images/websites/chloe.png");
}

#bpa {
  background-image: url("../images/websites/bigpurple.png");
}

.grid-box.graphic {
  width: 24%;
  height: 31vh;
  margin-bottom: 2%;
}

.grid-box.graphic h4 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 6vh;
}

#seo {
  background-image: url("../images/graphics/SEO.png");
}

#socialmedia {
  background-image: url("../images/graphics/socialmedia.png");
}

#websites {
  background-image: url("../images/graphics/websites.png");
}

#gsd {
  background-image: url("../images/graphics/gsd.png");
}

#logo {
  background-image: url("../images/graphics/logo.jpg");
}

#gps {
  background-image: url("../images/graphics/gpsad.png");
}

#crazysister {
  background-image: url("../images/graphics/crazysister.jpg");
}

#lovenotes {
  background-image: url("../images/graphics/lovenotes.jpg");
}

#ribbon {
  background-image: url("../images/graphics/ribbon.jpg");
}

#experience h3 {
  padding-bottom: 5vh;
}

.grey {
  width: 100%;
  background: rgba(66,64,78,0.3);
  padding: 3% 0
}

.job {
  margin: 3% 6%;
  padding: 0 6% 3% ;
  border-bottom: 1px solid #ecebed;
}

.subheader3 {
  font-size: 4vh;
  line-height: 7vh;
  text-shadow: inherit;
  font-style: italic;
  letter-spacing: 1px;
  padding-left: 5%;
}

.job h5 {
  padding: 1% 0 0 3%;
}

#photography {
  position: relative;
}

.subheader {
  font-size: 6vh;
  margin: 4vh 0;
}

.photo-bin {
	width: 100%;
	justify-content: space-between;
}

.photo-column {
	width: 33%;
}

.photo-column div {
  background: white;
  margin-bottom: 1.5%;
}

.photo-column img {
  display: block;
	width: 100%;
	opacity: 0.5;
  border: 0;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	transition-timing-function: ease-in-out;
}

.photo-column img:hover {
	opacity: 1;
  cursor: pointer;
}

.big-photo {
  width: 100%;
  height: 100vh;
  background: rgba(1,1,1,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.big-photo img {
  display: block;
  margin: 2.5% auto;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 6px 6px 10px #131317;
}

.exit {
  font-family: helvetica;
  font-size: 12vh;
  font-weight: bold;
  color: white;
  right: 15vh;
  top: 10vh;
  position: absolute;
}

.exit:hover {
  opacity: .5;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    height: auto;
  }

  .headshot {
    width: 50%;
    padding: 5%;
  }

  .headshot img {
    width: 100%;
  }

  .navigation {
    height: auto;
    flex-direction: row;
  }

  .fa {
    padding: 2px 4px;
    font-size: 4vh
  }

  .nav-link {
    font-size: 3vh;
  }

  .nav-link.email {
    flex-grow: 0;
    padding: 1vh 0;
    font-size: 2vh;
  }

  .grid-box.graphic, .grid a {
    width: 49%;
  }

  .photo-column img {
    opacity: 1;
  }
}
