html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

a {
  text-decoration: none;
  color: inherit;
}

.flex {
	display: flex;
}

.flex-row {
  display: flex;
	flex-direction: row;
}

.flex-column {
  display: flex;
	flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}


/* GLOBAL */
body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', serif;
  color: #ecebed;
}
body:before {
content: "";
display: block;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -10;
background: url("../images/purp.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.main {
  /* height: 100vh; */
  flex-direction: column;
}
.photo {
  height: 100vh;
  position: fixed;
  top: 0;
  background-image: url("../images/purp.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  overflow: hidden;
}
.section {
  width: 100%;
  min-height: 100vh;
  color: #ecebed;
  text-shadow: 3px 3px 6px #42404e;
  padding: 15vw 10vw 10vw;
  background: rgba(255,255,255,0.3);
  justify-content: space-between;
}
h1, h2, h3, h3, h4, .navcontrol, .nav-link {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: 27vw;
  text-align: center;
}

h2 {
  font-size: 12vw;
  line-height: 15vw;
}

h3 {
  font-size: 10vw;
  line-height: 6vh;
  text-align: center;
}
#portfolio h3 {
  margin-top: 5vw;
}
h4 {
  font-size: 7vw;
  line-height: 8vw;
  font-style: italic;
}
h1, h2, h3, h4 {
  letter-spacing: 1.5px;
}
p {
  font-size: 6vw;
  line-height: 8vw;
  letter-spacing: .02vw;
  text-indent: 5%;
  margin-bottom: 2vw;
}
p > a {
  font-family: 'Bebas Neue';
  font-size: 7vw;
  letter-spacing: 2px;
}
h2, #about p {
  text-shadow: 2px 2px 4px #42404e;
}
.nav-link, .social a, .email:hover {
  text-shadow: 1px 1px 2px #676671;
}
.grid-box.graphic:hover, .photo-column img:hover, .exit:hover {
  cursor: pointer;
}

/* HEADSHOT */
.headshot {
  width: 50vw;
  padding-bottom: 3vw;
}

.headshot img {
  width: 100%;
  border: 1px solid #c6c5c9;
  border-radius: 100%;
  box-shadow: 1px 1px 2px #676671;
}
/* NAVIGATION */
.navigation {
  max-height: 100vh;
  width: 100vw;
  background: #42404e;
  border-right: 1px solid #c6c5c9;
  padding-top: 2vh;
}
.nav-container {
  position: fixed;
  /* width: 100%; */
  z-index: 1;
}
.links {
  justify-content: center;
}
.pagination {
  justify-content: space-around;
}
.nav-link {
  font-size: 4vh;
  letter-spacing: 3px;
  padding: 1vh 0;
}
.social a {
  padding: 4vw;
}
.nav-link:hover {
  background: #c6c5c9;
  color: #42404e;
  text-shadow: 1px 1px 2px #a09fa6;
}
.social a:hover {
  opacity: 0.3;
}

.fa {
  padding: 2vh;
  font-size: 5vh;
  text-align: center;
  text-decoration: none;
  background: transparent;
  color: white;
  border-radius: 2px;
}

.email {
  font-size: 6vw;
  padding-top: 4vw;
  text-align: center;
}

.email:hover {
  color: rgba(236,235,237,0.3);
  background: inherit;
}

.navcontrol {
  background: #42404e;
  font-size: 5vh;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 2vh;
  margin-top: -1px;
  box-shadow: 0 5px 10px #42404e;
}

/* FRONT PAGE */
.description {
  padding-bottom: 10vw;
  border-bottom: 5px solid #ecebed;
  margin-bottom: 10vw;
}
.task {
  margin-bottom: 10vh;
  background-size: contain;
  text-align: center;
}
.task img {
  width: 50vw;
  margin-bottom: 5vw;
}
.task p {
  text-indent: 0;
}
.grid {
  flex-wrap: wrap-reverse;
  width: 100%;
  padding: 3vw 0;
  border-top: 3px solid #ecebed;
}
.grid a, .grid-box.graphic {
  display: block;
  width: 100%;
  height: 25vh;
  margin-bottom: 2%;
}

.grid-box {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  background-size: cover;
  background-position: top;
  box-shadow: 3px 3px 6px #42404e;
}

.grid-box-text {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  border-radius: 8px;
  justify-content: space-around;
  padding: 3vw;
}

.grid-box-text:hover {
  color: #42404e;
  text-shadow: 2px 2px 2px #27262e;
  background: rgba(255,255,255,0.3);
}


/* WEBSITE IMAGES */
#blackjack {
  background-image: url("../images/websites/blackjack.png");
}

#chloe {
  background-image: url("../images/websites/chloe.png");
}

#bpa {
  background-image: url("../images/websites/bigpurple.png");
}

#ams {
  background-image: url("../images/websites/amesministorage.png");
}

#hcvr {
  background-image: url("../images/websites/happycampervacationrentals.png");
}

#tfc {
  background-image: url("../images/websites/funkychickencafe.png");
}
.grid-box.graphic h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 6vh;
}

#seo {
  background-image: url("../images/graphics/SEO.png");
}

#socialmedia {
  background-image: url("../images/graphics/socialmedia.png");
}

#websites {
  background-image: url("../images/graphics/websites.png");
}

#gsd {
  background-image: url("../images/graphics/gsd.png");
}

#logo {
  background-image: url("../images/graphics/logo.jpg");
}

#gps {
  background-image: url("../images/graphics/gpsad.png");
}

#crazysister {
  background-image: url("../images/graphics/crazysister.jpg");
}

#lovenotes {
  background-image: url("../images/graphics/lovenotes.jpg");
}

#ribbon {
  background-image: url("../images/graphics/ribbon.jpg");
}

#experience h3 {
  padding-bottom: 5vh;
}

.grey {
  width: 100%;
  background: rgba(66,64,78,0.3);
  padding: 5vw;
  border-radius: 5vw;
}

.job {
  margin: 3% 6%;
  padding: 0 6% 3% ;
  border-bottom: 1px solid #ecebed;
}
.photo-bin {
	width: 100%;
	justify-content: space-between;
}

.photo-column {
	width: 33%;
}

.photo-column div {
  background: white;
  margin-bottom: 1.5%;
}

.photo-column img {
  display: block;
	width: 100%;
	opacity: 0.5;
  border: 0;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	transition-timing-function: ease-in-out;
}

.photo-column img:hover {
	opacity: 1;
}

.big-photo {
  width: 100%;
  height: 100vh;
  background: rgba(1,1,1,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.enlarged {
  max-width: 90vw;
  max-height: 90vh;
  box-shadow: 6px 6px 10px #131317;
  margin: auto 0;
}

.exit {
  font-size: 20vw;
  font-weight: bold;
}

.exit:hover {
  opacity: .5;
}

footer {
  width: 100vw;
  background-color: #cccccc;
  color: black;
  font-family: arial, sans-serif;
  padding: 2vh;
}

footer p {
  font-size: 5vh;
}

.columns {
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
